@page
@model NCBank.Pages.AccountModel
@{
    ViewData["Title"] = "Your Account";
    ViewData["Nav"] = "dashboard";
    string User = "Guest";
}

<h1>Welcome, @User</h1>
<section>
    <h2>Your Account</h2>
    
</section>
