@page
@model Pages.IndexModel
@{
	ViewData["Title"] = "Home";
	ViewData["CustomTitle"] = "Home";
	ViewData["PageID"] = "Home";
}

<div>
	<div style = "position: absolute; top:150px; left: 10px; 
                width:45% ; display: inline-block; word-wrap: break-word; vertical-align: middle;">
		<h2 style = "padding-left: 40px;">Never visit a bank again!</h2>
		<div style = "word-wrap:normal;">
			SwiftBank presents a new technology where you can bank from anyplace, anytime,
			without any worries!
		</div>
	</div>
	<div style = "position: absolute; top: 100px; right:10px;">
		<img src = "images/bank.jpg" height = "50%" width = "50%" style = "position: relative; left:30%">
	</div>
	<div style="position: absolute; top: 500px; right:10px;">
		 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet turpis et odio pellentesque malesuada. Aenean a pharetra ante, et vulputate justo. Donec eu sagittis neque. Suspendisse nibh lacus, venenatis nec mi ut, sagittis dignissim enim. Mauris nec dui varius, blandit lacus ut, pretium purus. Aliquam vel lorem ornare, consequat ligula in, malesuada turpis. Aliquam tincidunt orci tortor, id laoreet tortor maximus nec. Donec sodales, magna et porta accumsan, sapien eros malesuada velit, sed porta nibh ipsum non sem.

Phasellus lobortis dolor nec massa ullamcorper rhoncus. Vivamus ante justo, cursus vitae massa vitae, convallis rhoncus mi. Vivamus feugiat, dolor non varius tempor, justo turpis scelerisque metus, et ullamcorper eros tellus id sapien. Cras tempor ipsum mi, ut laoreet ipsum euismod non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget mattis urna. Donec eget cursus turpis. Phasellus eu suscipit ligula. Donec consectetur elit tellus, et interdum quam aliquam eget. Duis ac enim et magna congue sollicitudin sit amet a elit. Nunc neque neque, vestibulum posuere rutrum sed, fermentum eu metus. Nam quam quam, ultricies vel tristique id, sodales vel metus. Phasellus id est sed leo fringilla lobortis.

Donec augue enim, gravida in nibh in, luctus interdum elit. Integer maximus est vitae eros tincidunt porta. Nullam vestibulum augue at tempor volutpat. Nulla volutpat hendrerit urna non ornare. Ut urna metus, euismod nec libero ut, mattis interdum lectus. Vivamus scelerisque porta ullamcorper. Pellentesque tincidunt venenatis massa, quis suscipit mauris lacinia maximus. Nulla tempus a libero vitae placerat.

Suspendisse fringilla molestie sodales. Aenean vehicula, velit nec fermentum commodo, liberco purus mollis risus, sit amet dignissim felis ex eget magna. Ut interdum ac sapien ut bibendum. Fusce interdum dui vitae magna accumsan, eu euismod tellus semper. Suspendisse potenti. Nulla facilisi. Fusce iaculis nibh massa, quis eleifend augue ornare sollicitudin.

Vivamus volutpat nulla id lacus faucibus venenatis. Aenean at blandit purus. Vestibulum feugiat nunc massa, at sollicitudin urna pretium nec. In rutrum et sem sed pretium. Pellentesque odio tellus, varius vel mi tincidunt, semper elemec
	</div>
</div>