@page
@model NCBank.Pages.LoginModel

@{
ViewData["Title"] = "Login";
ViewData["Nav"] = "Home";
string User = "Guest";
}

<div class="he-form">
    <h2>Login</h2>
    <form style="padding-left: 30px;" method="post">
        <input type="text" 
    </form>
</div>