@page
@model NCBank.Pages.PasswordModel
@using NCBank.Models
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Password";
    ViewData["Nav"] = "dashboard";
    var user = SessionManager.GetSession(HttpContext.Session.GetString("sessionID"));
}

<h1></h1>
<section>
    <h2>Change Password</h2>
    <form method="POST">
        <h4 style="background-color: pink; color: red; border-color: red;">@ViewData["Issues"]</h4>
        <table>
            <tr>
                <td><label asp-for="Password">Current Password: </label></td>
                <td><input type="password" class="textbox" asp-for="Password"></td>
                <td><span asp-validation-for="Password"></span></td>
            </tr>
            <tr>
                <td><label asp-for="NewPassword">New Password: </label></td>
                <td><input type="password" class="textbox" asp-for="NewPassword"></td>
                <td><span asp-validation-for="NewPassword"></span></td>
            </tr>
            <tr>
                <td><label asp-for="NewPasswordConf">Confirm New Password: </label></td>
                <td><input type="password" class="textbox" asp-for="NewPasswordConf"></td>
                <td><span asp-validation-for="NewPasswordConf"></span></td>
            </tr>
            <tr>
                <td></td>
                <td><button class="button" type="submit" asp-page-handler="Back">Back</button></td>
                <td><button class="button" type="submit">Confirm</button></td>
            </tr>
        </table>
    </form>
</section>
