@page
@model NCBank.Pages.PaymentsModel
@{
    ViewData["Title"] = "Payments";
    ViewData["Nav"] = "dashboard";
    string User = "Guest";
}

<h1>Welcome, @User</h1>
<section>
    <h2>Payment Methods</h2>
</section>
