@page
@model NCBank.Pages.PreferencesModel
@{
    ViewData["Title"] = "Preferences";
    ViewData["Nav"] = "dashboard";
    string User = "Guest";
}

<h1>Welcome, @User</h1>
<section>
    <h2>Preferences</h2>
</section>
