@page
@model NCBank.Pages.StatementsModel
@{
    ViewData["Title"] = "Statements";
    ViewData["Nav"] = "dashboard";
    string User = "Guest";
}

<h1>Welcome, @User</h1>
<section>
    <h2>Payment Statements</h2>
</section>