@page
@model NCBank.Pages.LoginModel

@{
    ViewData["Title"] = "Login";
    ViewData["Nav"] = "Home";
    @* string User = "Guest"; *@
}

<script>
   $('.he-video-overlay').css('opacity', 0.5).html(0.5);
   $(".he-welcome").visible = false; 
</script>
<div style="position: absolute; z-index: 60; left: 50%; top: 50%; color: #fff;
	transform: translate(-50%, -50%);">
    <h2>Login</h2>
    <form style="padding-left: 30px;" method="post">
        <input type="email" asp-for="cust.Email" id="email" required class="he-text">
        <br />
        <input type="password" asp-for="cust.Password" id="password" required class="he-text">
        <br />
        <button type="submit" class = "MainButton" style = "left: 50%; transform: translateX(-50%); margin-top: 7%;">Login</button>
    </form>
</div>
