@page
@model NCBank.Pages.TrendsModel
@{
    ViewData["Title"] = "Trends";
    ViewData["Nav"] = "dashboard";
    string User = "Guest";
}

<h1>Welcome, @User</h1>
<section>
    <h2>Payment Trends</h2>
</section>