@page
@model NCBank.Pages.VerifyModel
@using NCBank.Models;
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Dashboard";
    ViewData["Nav"] = "dashboard";
    var upser = SessionManager.GetSession(HttpContext.Session.GetString("sessionID"));
}

<h2>Verify your Email!</h2>
<h4>We have sent an email to @upser.Email.</h4>
<h4>Enter the OTP in the Email here. </h4>
<form method="POST">
    <input type="text" style="font-size: large;" placeholder="OTP" asp-for="userOtp">
    <input type="submit" value="OK">
</form>
